@charset "UTF-8";
@import url('../front/lib.css');
/*공통변수*/
.wrap {
	width: 100%;
	margin: 0 auto;
}
#header {
	display: block;
	background-color: white;
	border-bottom: 1px solid #e2e6e9;
	text-align: center;
	width: 100%;
	height: 50px;
	z-index: 10;
}
#header h1.logo {
	vertical-align: middle;
	display: block;
	line-height: 40px;
}
#header h1.logo a img {
	vertical-align: middle;
	max-height: 24px;
}
.top_bar{
	background: #0f73ff;
}
.msr{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
.top_bar {
	padding: 16px;
	position: relative;
}
.top_bar h1{
	display: inline-block;
	color: #fff;
	vertical-align: middle;
	margin-right: 12px;
	font-size: 14px;
}
.top_bar .reward {
	max-width: 120px;
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	padding-left: 24px;
	color: #fff92f;
	font-size: 16px;
	background: url("../../images/front/icon_point.svg") no-repeat left center;
	background-size: 16px 16px;
}
.top_bar button{
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
}
.top_bar button img{
	vertical-align: middle;
	max-height: 4px;
}
.tab_area{
	border-bottom: 1px solid #c8c8c8;
}
.tab_area ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.tab_area ul li{
	text-align: center;
	flex: 1;
}
.tab_area ul li a{
	display: block;
	width: 100%;
	padding: 12px 0;
	color: #666666;
	font-size: 14px;
}
.tab_area ul li a.on{
	color: #0f73ff;
	font-weight: 600;
	border-bottom: 3px solid #0f73ff;
}
.title_bar{
	padding: 16px;
	position: relative;
	border-bottom: 1px solid #c8c8c8;
}
.title_bar h1{
	text-align: center;
	font-weight: 500;
	font-size: 16px;
}
.title_bar button{
	position: absolute;
	top: 0;
	left: 0;
	width: 50px;
	height: 50px;
}
.title_bar button img{
	vertical-align: middle;
	max-height: 20px;
}
.noti_bar{
	background: #f1f4f7;
	padding: 8px;
	font-size: 12px;
	color: #666666;
	text-align: center;
}
.btn_blue_l, .btn_blue_s{
	margin-top: 16px;
	width: 100%;
	display: block;
	background: #0f73ff;
	border-radius: 4px;
	font-size: 14px;
	text-align: center;
	color: #fff;
	padding: 12px 0;
}
.btn_blue_s{
	width: 200px;
	margin: 40px auto;
}
.btn_grey_l{
	margin-top: 16px;
	width: 100%;
	display: block;
	background: #f1f4f7;
	border-radius: 4px;
	font-size: 14px;
	text-align: center;
	color: #666;
	padding: 12px 0;
}
.btn_blue_l span{
	margin-left: 4px;
	color: #fff;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
.splash{
	z-index: 2;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(to bottom, rgba(31,163,265,0.9), rgba(0,67,255,0.9));
}
.splash .inner{
	width: 80vw;
	font-size: 44px;
	line-height: 1.23;
	font-weight: 400;
	position: absolute; left: 50%; top: 40%;
	transform: translate(-50%, -50%);
}
.splash .inner h1{
	color: #fff;
	margin-bottom: 32px;
}
.splash .inner p{
	font-size: 30px;
	color: #ffed2f;
}
.splash .btm_logo{
	position: absolute;
	bottom: 40px;
	left: 50%;
	margin-left: -69px;
	width: 138px;
	height: 24px;

}
/*공통변수*/

/*메인*/
/* 카드형*/
.type_card{
		background: #ebedef;
}
.type_card .card{
	background: #fff;
	display: block;
	margin-bottom: 8px;
	border-bottom: 1px solid #c8c8c8;
}
.type_card .card .cd_img img{
	width: 100%;
}
.type_card .card .cd_text h3{
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 10px;
}
.type_card .card .cd_text p{
	font-size: 12px;
	line-height: 1rem;
	color: #666;
	overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
	max-height: 2rem;
}

.type_card .card .cd_text{
	padding: 15px 18px;
}
/* 배너형*/
.type_banner .card{
	padding: 15px;
	border-bottom: 1px solid #c8c8c8;
}
.type_banner .card .cd_img{
	width: 50px;
	height: 50px;
	border-radius: 10px;
	overflow: hidden;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
}
.type_banner .card .cd_img img{
	width: 50px;
	height: 50px;
	margin: 0 auto;
}
.type_banner .card .cd_text{
	vertical-align: middle;
	width: calc(100% - 65px);
	padding-left: 10px;
	display: inline-block;
}
.type_banner .card .cd_text h3{
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 4px;
}
.type_banner .card .cd_text p{
	font-size: 12px;
	color: #666;
	max-width: 120px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
}
.type_banner .card .cd_text a.btn_text{
	float: right;
	color: #0f73ff;
	font-size: 13px;
	padding-right: 10px;
	background: url("../../images/front/icon_download.svg") no-repeat;
	background-position: right center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	vertical-align: bottom;
}
/* 전면형*/
.type_full .card .cd_img{
	width: 100%;
	height: 500px;
	overflow: hidden;
	position: relative;
}
.type_full .card .cd_img .gradient{
	position: absolute;
	bottom: 0;
	z-index: 1;
	width: 100%;
	height: 40px;
	background: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,1));
}
.type_full .card .cd_img img{
	z-index: 0;
	width: 100%;
}
.type_full .card .cd_text{
	padding: 15px 18px;
	position: relative;
}
.type_full .card .cd_text h3{
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 10px;
}
.type_full .card .cd_text p{
	margin-bottom: 16px;
	font-size: 12px;
	color: #666;
	overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
	max-height: 1.7rem;
}
.type_full .card .cd_text .btn_blue_l{
	width: 100%;
	display: block;
	background: #0f73ff;
	border-radius: 4px;
	font-size: 14px;
	text-align: center;
	color: #fff;
	padding: 12px 0;
}
.type_full .card .cd_text .btn_blue_l span{
	margin-left: 4px;
	color: #fff;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
.type_full .card .counter{
	position: absolute;
	top: 15px;;
	right: 15px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: #666666;
	letter-spacing: 2px;
	font-size: 12px;
}
.type_full .card .counter b{
	letter-spacing: 2px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: #0f73ff;
}
.template .cd_img{
	position: relative;
}
.template .icon_area {
	position: absolute;
	width: 21.5vw;
	height: 21.5vw;
	border-radius: 5.5vw;
	overflow: hidden;
}
.template .icon_area img{
	width: 100%;
	height: 100%;
}
.tp_01 .icon_area{
	left: 7vw;
	bottom: 6.6vw;
}
.tp_02 .icon_area{
	right: 7vw;
	bottom: 6.6vw;
}
/*상세 페이지*/
.detail .type_card .card{
	border: none;
}

.detail .type_card .card .cd_detail{
	margin: 0;
	padding-top: 20px;
	color: #656666;
	line-height: 1rem;
	word-break: break-all;
  -webkit-line-clamp: inherit;
	max-height: inherit;
}
/*더보기 참여내역*/
.viewmore_01 .type_banner .card .cd_text{
	width: calc(100% - 94px);
}
.viewmore_01 .type_banner .card .cd_text p{
	max-width: inherit;
	white-space: inherit;
	font-size: 12px;
	line-height: 1rem;
	color: #666;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	max-height: 2rem;
}
.viewmore_01 .type_banner .card .cd_text span{
	font-size: 12px;
	display: block;
	color: #666;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	margin-bottom: 4px;
}
.viewmore_01 .type_banner .card .cd_status{
	display: inline-block;
	width: 74px;
	vertical-align: middle;
}
.viewmore_01 .type_banner .card .cd_status .status{
	width: 74px;
	text-align: center;
	box-sizing: border-box;
	font-size: 12px;
	padding: 6px;
	border-radius: 4px;
	margin-bottom: 10px;
}
.viewmore_01 .type_banner .card .cd_status .st_1{
	background: #f1f4f7;
	color: #666666;
	font-weight: 500;
}
.viewmore_01 .type_banner .card .cd_status .st_2{
	background: #fff;
	border: 1px solid #0f73ff;
	color: #0f73ff;
	font-weight: 500;
}
.viewmore_01 .type_banner .card .cd_status .point{
	text-align: center;
	color: #0f73ff;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 700;
}
/*더보기 1:1문의*/
.viewmore_02{
	padding: 15px;
}
.viewmore_02 .form{
	margin-bottom: 10px;
}
.viewmore_02 .cd_detail{
	margin: 20px 0 16px 0;
	font-size: 12px;
	color: #333;
	line-height: 1rem;
}
/*완료페이지*/
.complete {
	width: 100%;
	height: 100%;
	text-align: center;
	background: #F1F4F7;
}
.complete .container{
	width: 100%;
	position: absolute; left: 50%; top: 50%;
  transform: translate(-50%, -50%); text-align: center;
}
.complete h1{
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 10px;
}
.complete p{
	font-size: 12px;
	color: #666;
}
