@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Noto+Sans+KR:wght@400;500;700&display=swap');
html,
body {
	width: 100%;
	height: 100%;
	-webkit-text-size-adjust: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
textarea {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	letter-spacing: -0.5px;
	font-family: 'Noto Sans KR', sans-serif;
	color: #1f2836;
	word-wrap: break-word;
	word-break: keep-all;
}

a {
	vertical-align: middle;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1.2;
}

ol,
ul,
li {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

label {
	vertical-align: baseline;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

th,
td {
	vertical-align: middle;
}

hr {
	height: 0;
	margin: 0;
	border: 0;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: #1f2836;
}

del {
	color: #9a9a9a;
}

button {
	background: none;
	border: none;
	cursor: pointer;
}

cite {
	font-style: normal;
}

hr {
	border-top: 1px solid #e7e7e7;
}

input {
	display: inline-block;
	border: 1px solid #d6d6d6;
	padding: 3px 4px 3px 4px;
	vertical-align: middle;
	box-sizing: border-box;
	outline-style: none;
}

input[type=text],
input[type=tel],
input[type=email],
textarea,
select {
	font-size: 14px;
	box-sizing: border-box;
	width: 100%;
	padding: 12px;
	color: #333;
	border: 1px solid #c8c8c8;
}
input[type=checkbox]{
	margin-right: 7px;
	vertical-align: middle;
}
textarea::placeholder{
	color: #888888;
	font-size: 14px;
}
label.iCheck{
	font-size: 12px;
	padding-left: 10px;
	color: #333;
}
select{
	display: inline-block;
	vertical-align: middle;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	background: url("../../images/front/icon_arrowdown.svg") no-repeat;
	background-position: 98% center;
	background-size: 16px 12px;
}
.caution {
	text-align: center;
}
